#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

h1
{
    background-color: cyan;
}
body
{
    background: url("https://wolf-wallpapers.pro/images/80-galaxy-wolf-wallpapers-on-wallpaperplay-26-wolf-wallpapers.pro.jpg");
    color: #000;
}